<div class="container">
	<div class="dashboard">
		<div class="fb-cell fb-cell--1">
			<div class="fb-item">
				<div class="sidebar">
					<div class="avatar">
						<img
							src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
						/>
					</div>
					<div class="info">
						<span>Welcome {{ manager.name }}</span>
						<br />
						<span>Department: </span>
						<br />
						<span>Email: {{ manager.email }}</span>
					</div>
					<div class="logout">
						<a
							routerLink="/"
							style="
								text-decoration: none;
								border: 1px solid #ccc;
							"
							>Logout</a
						>
					</div>
				</div>
			</div>
		</div>
		<div class="fb-cell fb-cell--2">
			<div class="fb-item">
				<div class="leave-request">
					<div class="form-header">
						<h2>Pending Leave Application</h2>
					</div>
					<div class="decision-container">
						<div>{{ leaveEmptymsg }}</div>
						<ul>
							<div>{{ leaveMsg }}</div>
							<li
								*ngFor="let lr of leaveRequests"
								class="leave-requests"
							>
								<div class="leave-request --cell">
									<div style="flex-basis: 100px">
										{{ lr.name }}
									</div>
									<div style="flex-basis: 200px">
										Leave Requested: {{ lr.noOfDays }}
									</div>
									<button
										style="
											margin-right: 2rem;
											flex-basis: 70px;
										"
										(click)="
											requestDecision(lr.id, 'confirm')
										"
									>
										CONFIRM
									</button>
									<button
										style="flex-basis: 70px"
										(click)="requestDecision(lr.id, 'deny')"
									>
										DENY
									</button>
								</div>
								<div>From: {{ lr.from }} To: {{ lr.to }}</div>
								<br />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="fb-cell fb-cell--3">
			<div class="fb-item">
				<div class="access-request">
					<div class="form-header">
						<h2>Employee Access Requests</h2>
					</div>
					<ul>
						<li *ngFor="let request of accessRequests">
							{{ request.name }}
							<span style="margin-left: 2rem">{{
								request.jobTitle
							}}</span>
							<button
								style="margin-right: 2rem; margin-left: 2rem"
							>
								Accept
							</button>
							<button>Reject</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
