.login {
  border: 5px solid rgb(184, 63, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container {
  border: 1px solid #ccc;
  height: 100%;
  width: 344px;
  height: 426px;
  background: #6279ee;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.12);
}
